body{
    margin: 0;
}
h1, h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

h1{
    font-size: 90px;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.two{
    background-repeat: no-repeat;
    background-size:cover;
    flex: 1;
    background-image: url("https://media2.giphy.com/media/ZNo3OCM9CoEVz71ilQ/giphy.gif?cid=ecf05e47qd1v4v53t0ubtthao20trrrqs3nexs36g83f3npc&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}
.three{
    display: flex;
    background-color: black;
    justify-content: center;
    color: whitesmoke;
}